.article {
  // общие стили контейнера
}

.text {
  text-wrap: balance;
  color: white;
  margin: 0 0 20px;
  line-height: 1.7;
}

.title {
  margin: 0 0 30px;
}

.subtitle {
  margin: 40px 0 20px;
}
