@use "../../mixins" as m;

.sidebar {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  @include m.respond-to(tablet-up) {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @include m.respond-to(desktop-large) {
    max-width: 300px;
    flex-direction: column;
    justify-content: flex-start;
  }
}
