@use "../../variables" as v;
@use "../../mixins" as m;

.footer {
  width: 100%;
  margin-top: 60px;
  @include m.respond-to(tablet-up) {
    margin-top: 120px;
  }

  &__content {
    padding: 30px 0px;
    margin: 0 auto;
    max-width: 300px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid v.$color-border;
    gap: 10px;
    @include m.respond-to(tablet-up) {
      padding: 0;
      max-width: 720px;
      flex-direction: row;
      justify-content: space-between;
    }
    @include m.respond-to(desktop-up) {
      max-width: 960px;
      min-height: 120px;
    }
    @include m.respond-to(desktop-large) {
      max-width: 1280px;
    }
    @include m.respond-to(desktop-xl) {
      max-width: 1440px;
    }
  }

  &__copyright {
    color: v.$color-text-heading;
    font-weight: v.$font-weight-regular;
    font-size: v.$font-size-medium;
    line-height: v.$line-height-small;

    &_type_colored {
      color: v.$color-accent-2;
    }
  }
}
