@use "../../variables" as v;
@use "../../mixins" as m;

.sidebarComponentTag {
  padding: 0px 10px;

  &__link {
    display: flex;
    align-items: center;
    font-size: v.$font-size-medium;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-x-small;
    color: v.$color-text-main;
    @include m.hover {
      transition-duration: 0.2s;
      color: v.$color-text-hover;
      transform: translateY(-2px);
    }
  }
}
