@use "../../variables" as v;
@use "../../mixins" as m;

.sidebarComponentTag {
  padding: 0px 10px;

  &__link {
    padding: 0px 10px;
    width: 100%;
    min-height: 60px;
    border-radius: 20px;
    border: 1px solid v.$color-border;
    background-color: v.$color-bg-element;
    display: flex;
    gap: 7px;
    align-items: center;
    font-size: v.$font-size-medium;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-x-small;
    color: v.$color-text-heading;
    @include m.hover {
      transition-duration: 0.2s;
      color: v.$blue;
      border: 1px solid v.$color-border-hover;
      box-shadow: v.$shadow-default;
      transform: translateY(-2px);
    }
  }

  &__image {
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid v.$color-border;
  }
}
