@mixin hover {
  &:hover {
    @content;
  }
}

@mixin respond-to($device) {
  @if $device == desktop-xl {
    @media (min-width: 1920px) {
      @content;
    }
  } @else if $device == desktop-large {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $device == desktop-up {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $device == desktop {
    @media (min-width: 1024px) and (max-width: 1439px) {
      @content;
    }
  } @else if $device == tablet-up {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $device == tablet {
    @media (min-width: 768px) and (max-width: 1023px) {
      @content;
    }
  } @else if $device == mobile {
    @media (max-width: 767px) {
      @content;
    }
  }
}

@mixin text-writer-home {
  @keyframes typing {
    0%,
    96% {
      content: "";
    }

    1%,
    95% {
      content: "М";
    }

    2%,
    94% {
      content: "Ма";
    }

    3%,
    93% {
      content: "Мак";
    }

    4%,
    92% {
      content: "Макс";
    }

    5%,
    91% {
      content: "Макси";
    }

    6%,
    90% {
      content: "Максим";
    }

    7%,
    89% {
      content: "Максим ";
    }

    8%,
    88% {
      content: "Максим Л";
    }

    9%,
    87% {
      content: "Максим Ля";
    }

    10%,
    86% {
      content: "Максим Ляш";
    }

    11%,
    85% {
      content: "Максим Ляше";
    }

    12%,
    84% {
      content: "Максим Ляшен";
    }

    13%,
    83% {
      content: "Максим Ляшенко";
    }
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes movingY {
  from {
    translate: 0 -64px;
  }

  to {
    translate: 0 20px;
  }
}

@keyframes movingX {
  from {
    translate: -60px 0;
  }

  to {
    translate: 40px 0;
  }
}

@mixin name-animation {
  @keyframes developername {
    0.6977%,
    90.2093% {
      content: "";
    }
    1.8372%,
    89.0698% {
      content: "М";
    }
    2.9767%,
    88.9302% {
      content: "Ма";
    }
    3.1163%,
    87.7907% {
      content: "Мак";
    }
    4.2558%,
    86.6512% {
      content: "Макс";
    }
    5.3953%,
    85.5116% {
      content: "Макси";
    }
    6.5349%,
    84.3721% {
      content: "Максим";
    }
  }
}
