@use "../../variables" as v;
@use "../../mixins" as m;

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &__image {
    @include m.respond-to(tablet-up) {
      width: 77px;
      height: 42px;
    }
  }

  &__text {
    color: v.$color-text-main;
    font-size: v.$font-size-medium;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-medium;
    @include m.respond-to(tablet-up) {
      font-size: v.$font-size-large;
      line-height: v.$line-height-large;
    }
  }
}
