@use "../../variables" as v;
@use "../../mixins" as m;

.buttonUp {
  &__button {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    background-color: v.$color-bg-element;
    border: 1px solid v.$color-border;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include m.hover {
      transform: translateY(-2px);
      transition-duration: 0.2s;
      cursor: pointer;
      border: 1px solid v.$color-border-hover;
      box-shadow: v.$shadow-default;
    }

    &_type_hide {
      display: none;
    }
  }

  &__icon {
    display: block;
    width: 30px;
    height: 30px;
    background-color: v.$color-text-heading;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
    mask-image: url(../../_images/Arrow_Up_LG.svg);
    -webkit-mask-image: url(../../_images/Arrow_Up_LG.svg);
  }
}
