@use "../../variables" as v;
@use "../../mixins" as m;

.popularTags {
  padding-top: 64px;
  @include m.respond-to(desktop-up) {
    padding-top: 128px;
  }

  &__container {
    margin: 0 auto;
    max-width: 300px;
    display: grid;
    gap: 30px;
    @include m.respond-to(tablet-up) {
      max-width: 720px;
    }
    @include m.respond-to(desktop-up) {
      max-width: 960px;
      gap: 60px;
    }
    @include m.respond-to(desktop-large) {
      max-width: 1280px;
    }
    @include m.respond-to(desktop-xl) {
      max-width: 1440px;
    }
  }

  &__header {
    display: grid;
    gap: 10px;
  }

  &__title {
    font-size: v.$font-size-large-plus;
    font-weight: v.$font-weight-semibold;
    line-height: v.$line-height-large;
    @include m.respond-to(tablet-up) {
      font-size: v.$font-size-x-large-plus;
      line-height: v.$line-height-x-large;
    }
    background: v.$text-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__text {
    font-size: v.$font-size-medium;
    font-weight: v.$font-weight-regular;
    line-height: v.$line-height-x-small;
    color: v.$color-text-secondary;
    @include m.respond-to(tablet-up) {
      font-size: v.$font-size-large;
      line-height: v.$line-height-medium;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    @include m.respond-to(tablet-up) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
